# Unreal Engine temporary folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio / Rider / local IDE files
.vs/
.idea/
*.sln
*.VC.db
*.opensdf
*.sdf
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
Build/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
# Large downloaded marketplace/Fab asset packs - do not commit for now
Content/Fab/
Content/AsianStreetFood_Assets/
Content/Fennebuth_material_pack_1/
Content/FreeFurniturePack/
Content/GV_FreeShrubsPack/
Content/HighPoly_Tree_Model/
Content/LPGenericPropsSet24/
Content/Megaplant_Library/
Content/Modular_Rural_Cabin/
Content/OldWest/
Content/RuralHouse/
Content/ShovelModel/

# Preview images from downloaded packs
AsianStreetFood_Pack.png
OldWest_VOL5.png